    * {
        padding: 0;
        margin: 0;
    }
    
    p,
    label,
    input,
    ul,
    button,
    .showPass {
        margin-top: 20px;
    }
    
    label {
        display: inline-block;
    }
    
    a {
        color: #0a7d8a;
    }
    
    section .container {
        width: 60%;
        margin: 7% auto;
        display: flex;
        justify-content: center;
    }
    
    section .container .logoWrapper {
        width: 35%;
    }
    
    section .container .logoWrapper img {
        width: 250px;
        height: 250px;
    }
    
    section .container .formWrapper {
        width: 65%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    section .container .formWrapper fieldset {
        border: none;
    }
    
    section .container .formWrapper fieldset legend {
        display: none;
    }
    
    section .container .formWrapper form {
        padding-bottom: 10px;
    }
    
    section .container .formWrapper input {
        width: 100%;
        border: 1px solid #c7c7c7;
        background-color: white;
        padding: 10px 0;
    }
    
    .formWrapper form .showPass {
        float: right;
        color: #0a7d8a;
        font-weight: bold;
    }
    
    .ulWrapper {
        display: flex;
    }
    
    .ulWrapper ul {
        list-style: none;
        margin-left: 18px;
    }
    
    .ulWrapper ul:nth-child(2) {
        margin-left: 92px;
    }
    
    .ulWrapper ul li::before {
        content: "\2022";
        color: #0a7d8a;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
    
    .noEmailsWrapper {
        display: flex;
    }
    
    .noEmailsWrapper button {
        width: 30%;
        background-color: #fff;
        color: rgb(199, 199, 199);
        border: 1px solid rgb(199, 199, 199);
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        overflow: hidden;
    }
    
    .noEmailsWrapper .textContainer {
        display: flex;
        width: 70%;
    }
    
    form .noEmailsWrapper .textContainer span {
        width: 20%;
        display: flex;
        justify-content: center;
    }
    
    form .noEmailsWrapper .textContainer input {
        width: 17px;
        height: 0;
    }
    
    .noEmailsWrapper .textContainer>p {
        width: 80%;
        ;
    }